.container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin: 0 auto;
  background-color: rgb(98, 17, 192);
}

.search-form {
  margin: 0 auto;
}

.input {
  height: 35px;
  width: 300px;
  border-radius: 3px;
  border-style: none;
  padding-left: 10px;
}

.input:focus {
  outline: none;
}

.btn {
  height: 35px;
  width: 60px;
  border-radius: 3px;
  border: none;
  margin-left: -30px;
}

.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  display: flex;
  flex-direction: column;
  // border: red 1px solid;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
  //   23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 350px;
  height: 320px;
  object-fit: cover;
  margin-bottom: 20px;
}

.info {
  display: flex;
}

.info-item {
  display: flex;
}
