.container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-color: rgb(98, 17, 192);
}

.search-form {
  margin: 0 auto;
}

.input {
  height: 35px;
  width: 300px;
  border-radius: 3px;
  border-style: none;
  padding-left: 10px;
}

.input:focus {
  outline: none;
}

.btn {
  height: 35px;
  width: 60px;
  border-radius: 3px;
  border: none;
  margin-left: -30px;
}

.load-more {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border-color: rgb(98, 17, 192);
  margin: 0 auto;
  background-color: rgb(98, 17, 192);
  color: white;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
}

.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 350px;
  height: 320px;
  object-fit: cover;
  margin-bottom: 20px;
  overflow: hidden;
}

.info {
  display: flex;
  padding-left: 14px;
}

.info-item {
  display: flex;
}

.is-hiden {
  display: none;
}

.img-wrapper {
  object-fit: cover;
}
