.header {
  background-color: rgb(98, 17, 192);
}
.wrapper {
  margin: 0 auto;
}

.header-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.header-form {
  margin: 0 auto;
}

.header-input {
  height: 35px;
  width: 300px;
  border-radius: 3px;
  border-style: none;
  padding-left: 10px;
}

.header-input:focus {
  outline: none;
}

.btn {
  height: 35px;
  width: 60px;
  border-radius: 3px;
  border-style: none;
}
